<%# about us  %>
<!DOCTYPE html>
<html lang='en'> 
<head>
<% include ../partials/head %> 
</head>
<body class="container">
 <header>
    <% include ../partials/header %> 
 </header>
 <main>
     

   <div class="row">
       <div class="col-sm-8">
            <h1>This is test</h1>
            <p>this is a test</p>
       </div>
       <div class="col-sm-4">
           <div class="card card-body light">
                    <h4>look im a div</h4>
           </div>
       </div>
   </div>
 </main>

 <footer>
      <% include ../partials/footer %>
 </footer>
</body>
</html>